

.collection{
  position: relative;
  padding: 20px 20px;

  &::before{
    position: absolute;
    top: 60px;
    left: calc(50% - 860px);
    display: block;
    width: 403px;
    height: 300px;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }

  &::after{
    position: absolute;
    bottom: 550px;
    left: calc(50% + 575px);
    display: block;
    width: 392px;
    height: 477px;
    background-image: url("../../img/Group3646.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
}


.collection__cover{
  background-image: url("../../img/Rectangle.png");
  background-color: #F8F8F2;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: calc(50%) 0;
}

.collection__cover::after{
  position: absolute;
  bottom: 150px;
  left: calc(50% - 935px);
  display: block;
  width: 316px;
  height: 296px;
  background-image: url("../img/Vector1.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.collection__title{
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #000000;
  margin: 0px;
  padding: 80px;
  text-align: center;
}

.collection__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}


.collection__item{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.collection__item:nth-child(even){
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.collection__list__info{
  width: 453px;
  margin-left: 117px;
}

.collection__list__title{
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin: 0px;
  padding: 0px;
}

.collection__list__text{
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
  margin: 0px;
  padding: 0px;
}
