.header {
  padding: 40px 0;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F3D7B7;
  background-blend-mode: overlay;

  .header__inner{
    display: flex;
    align-items: center;
  }
}

.nav{
  margin-left: auto;

  .nav__list{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0;
    list-style: none;
  }
  
  .nav__item{
    margin-left: 40px;
  }
  
  .nav__item__home{
    margin: 0px;
  }
  
  .nav__link{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
  }
}