

.planmiddle{
  position: relative;
  padding: 20px 20px ;
  padding-top: 0;

  &::before{
    position: absolute;
    top: 800px;
    left: calc(50% - 910px);
    display: block;
    width: 403px;
    height: 300px;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }

  &::after{
    position: absolute;
    top: 200px;
    left: calc(50% + 635px);
    display: block;
    width: 392px;
    height: 477px;
    background-image: url("../../img/Group3646.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
}


.planmiddle__cover{
  padding-top: 50px;
  background-image: url("../../img/Rectangle.png");
  background-color: #F8F8F2;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: calc(50%) 0;
}

.planmiddle__cover::after{
  position: absolute;
  bottom: 265px;
  left: calc(50% - 1000px);
  display: block;
  width: 316px;
  height: 296px;
  background-image: url("../img/Vector1.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.planmiddle__inner{
  padding-bottom: 66px;
  display: flex;
}

.planmiddle__left{
  margin-right: 412px;
}

.left__text{
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #555555;
}

.left__text--last{
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #000000;
}

.plan__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan__item{
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.item__title{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  color: #333333;
}

.item__span{
  display: flex;
  flex-direction: column;
  width: 208px;
  max-height: 220px;
  margin-right: 18px;
  padding: 30px 12px 80px 16px;
  background: #C5DBCD;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.question{
  display: flex;
}

svg{
  margin-left: 80px;
}

.questions{
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #000000;
}

.question__opener{
  border: none;
  background: none;
}


.item__input:checked ~  .item__span{
  background-color:  #0A775F;
  color: #fff;
}

.item__input:checked ~ .item__span > .item__title{
  color:#fff;
}

.complited{
  width: 660px;
  margin: 0 0 20px 0;
  padding: 40px 22px 40px 20px;
  background-color: #C99B67;
}

.complited__span{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.complited__text{
  margin-top: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}

.choosen{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  color: #333333;
}

.sender{
  margin-left: 490px;
  width: 175px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background-color: #0A775F;
  border-radius: 100px;
  border: none;
}
